<h2><b>Pending Orders:</b></h2>
<div class="accordion" id="accordionExample">
  <div *ngFor="let order of orders" class="accordion-item">
    <h3 class="accordion-header" id="heading{{order.orderID}}">
      <div class="order-row">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse{{order.orderID}}" aria-expanded="false" attr.aria-controls="collapse{{order.orderID}}">
          <div class="order-heading">
            <h4>Customer: {{order.customer}}</h4><h4>Total: ${{order.total}}</h4>
          </div>
        </button>
        <button (click)="deleteOrder(order)" class="btn delete-order">Delete</button>
      </div>
    </h3>
    <div id="collapse{{order.orderID}}" class="accordion-collapse collapse" attr.aria-labelledby="heading{{order.orderID}}" data-bs-parent="#accordionExample">

        <div *ngFor="let product of order.products" class="accordion-item">
          <h5 class="accordion-header" id="heading-{{order.orderID}}-{{product.productID}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse-{{order.orderID}}-{{product.productID}}" aria-expanded="false" attr.aria-controls="collapse-{{order.orderID}}-{{product.productID}}">
              <div class="product-heading">
                <h5>Product: {{product.name}}</h5><h5>Price: ${{product.price}}</h5>
              </div>
            </button>
          </h5>
          <div id="collapse-{{order.orderID}}-{{product.productID}}" class="accordion-collapse collapse" attr.aria-labelledby="heading-{{order.orderID}}-{{product.productID}}" attr.data-bs-parent="#collapse{{order.orderID}}">
            <div class="accordion-body">
              <strong>Qty: {{product.quantity}}</strong>
              <div class="product-body">{{product.description}}</div>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>